<!DOCTYPE html>
<html lang="p[t-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFT Lite</title>

    
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/contato.css"> 

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/pingu.png">

</head>
<body>

    <header>
        <a href="https://teamfighttactics.leagueoflegends.com/pt-br/" target="_blank" rel="noopener noreferrer">
            <div class="logo"></div>
        </a>
        <a href="../index.html">
            <div class="home">Home</div>
        </a>
        <a href="https://signup.br.leagueoflegends.com/pt/teamfight-tactics/signup/index#/" target="_blank"
            rel="noopener noreferrer">
            <div class="download">Download</div>
        </a>
    </header>

    <div id="section-form">

        <div class="form-box">
            
                <label class="label-nome" for="nome">Nome</label>
                <input type="text" id="nome" onKeyup='validaNome()' placeholder="Insira seu nome">
                <div id="txtNome"></div>           
           
                <label class="label-email"  for="email">Email</label>
                <input type="email" id="email" onKeyup='validaEmail()' placeholder="Insira seu email">
                <div id="txtEmail"></div>
          
                <label class="label-msg"  for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" cols="60" rows="7" onKeyup='validaMensagem()' placeholder="Insira sua mensagem..."></textarea>
                <div id="txtMensagem"></div>

                <button type="submit" id="enviar" onclick='enviar()'>Enviar</button>

                <!-- <input type="submit" id="enviar" onclick='enviar()' placeholder="Enviar">    -->
                       
        </div>

    </div>

    <footer>
        <a href="#section-form">
            <div class="arrow-up"></div>
        </a>

        <div class="riot">
            Direitos de imagem reservados a &copyRiot Games
        </div>
        <div class="social-medias">
            <a href="https://www.facebook.com/groups/tftbrasil/" target="_blank" rel="noopener noreferrer">
                <div id="face-riot" class="social-box"></div>
            </a>
            <a href="https://www.instagram.com/tftbrasil/?hl=pt-br" target="_blank" rel="noopener noreferrer">
                <div id="insta-riot" class="social-box"></div>
            </a>

            <a href="https://twitter.com/tftbrasil" target="_blank" rel="noopener noreferrer">
                <div id="twitter-riot" class="social-box"></div>
            </a>
        </div>
        <div class="andre">
            Site feito por André Willian
        </div>
        <div class="social-medias">
            <a href="https://github.com/AndrehW27" target="_blank" rel="noopener noreferrer">
                <div id="github-andre" class="social-box"></div>
            </a>

        </div>
    </footer>

    <script src="../scripts/contato.js"></script>

</body>
</html>